body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 25px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #b3b3b3;
}

input {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  background: #3730a3;
}

#status {
  margin-top: 15px;
  font-size: 14px;
  color: #c7c7c7;
}
